.wcfg-nav-gallery {
	margin: 20px 0 0;
}

.woocommerce div.images div.wcfg-primary-gallery a {
	display: block;
	width: 100%;
	margin: 0 20px;
}

.woocommerce div.images div.wcfg-nav-gallery a {
	display: block;
	width: 75px;
	margin: 0 5px;
	padding: 3px;
}

.woocommerce div.product div.images .wcfg-primary-gallery a img {
	max-height: 450px;
}

/* Flexbox for vertically centered images */
.woocommerce div.images div.wcfg-primary-gallery a {
	min-height: 100%;

	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.woocommerce div.images div.wcfg-nav-gallery a.is-nav-selected {
	box-shadow: inset 0 0 0 3px #AD5800;
}